<!--controller-->
<div class="controller">
    <button id="print" class="btn btn-block">Print</button>
    <button id="pdf" class="btn btn-block">Export as PDF</button>
    <button id="doc" class="btn btn-block">Export as DOC</button>
</div><!--/controller-->

<div class="container">

    <!--Header-->
    <div id="resume-head" class="grd-black">

    </div><!--/Header-->

    <!--Content-->
    <div id="resume-content">

        <div>
            <h3 class="title-icon pull-left"><i class="icofont-book"></i></h3>
            <div class="title">
                <h3>Title of the Story</h3>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <p>Wafer wypas marzipan brownie bonbon wypas. Sugar plum gummi bears marshmallow. Tootsie roll jelly dragée brownie sesame snaps. Halvah marzipan pudding candy canes gingerbread marshmallow halvah icing. Pie macaroon lemon drops tart marshmallow marzipan dragée. Sweet brownie wypas ice cream tiramisu sweet. Gingerbread lemon drops dragée gingerbread. Bonbon jelly icing cupcake. Sugar plum danish dessert. Donut lollipop candy. Pastry candy marzipan macaroon tart carrot cake croissant. Danish halvah liquorice.</p>
                    <p>Jelly jelly-o oat cake marshmallow wypas. Gingerbread chocolate muffin carrot cake danish soufflé jelly beans danish. Gummi bears danish lollipop pudding macaroon icing bonbon cotton candy marshmallow. Croissant wypas pastry marshmallow gingerbread muffin dragée. Topping brownie sugar plum bear claw sesame snaps cotton candy cookie. Jujubes ice cream gingerbread gingerbread chocolate cake candy lemon drops wypas jelly-o. Candy jelly-o icing gingerbread ice cream danish. Toffee lollipop icing candy canes cupcake. Fruitcake marshmallow donut lollipop faworki lollipop. Liquorice topping bonbon soufflé. Biscuit chocolate bar cake carrot cake lemon drops dragée chocolate cake. Chupa chups icing cotton candy.</p>
                    <p>Chocolate bar jelly-o fruitcake candy canes danish dragée marshmallow apple pie. Bonbon danish fruitcake chocolate cake chocolate oat cake tart. Fruitcake liquorice jelly-o lollipop brownie cupcake jelly beans icing. Applicake jelly lollipop icing powder. Chocolate danish toffee muffin jelly danish danish. Chocolate faworki dessert chupa chups ice cream. Wafer jelly apple pie muffin sweet danish. Halvah cupcake croissant sesame snaps applicake. Candy canes wypas pudding oat cake cookie pudding. Chocolate bar liquorice dragée danish pie marzipan. Powder apple pie ice cream faworki dessert chocolate bar pastry caramels sweet roll. Pudding cheesecake jelly-o gummies cotton candy marshmallow. Cookie cupcake marzipan.</p>
                    <p>Dragée biscuit cupcake. Oat cake pie macaroon carrot cake. Muffin cotton candy croissant. Jelly-o candy canes topping gummies. Cotton candy dessert gummi bears candy canes macaroon. Lollipop caramels powder gummi bears tart sesame snaps jelly pie. Wypas lollipop dragée marshmallow croissant bear claw oat cake apple pie. Carrot cake sesame snaps dragée fruitcake soufflé fruitcake toffee. Wypas jelly-o dragée macaroon caramels. Faworki bear claw gummi bears tart jujubes jujubes pudding danish liquorice. Fruitcake liquorice applicake cotton candy fruitcake. Ice cream biscuit pie pudding apple pie. Muffin tootsie roll candy canes danish brownie topping jelly candy canes. Tart bonbon muffin pie donut powder.</p>
                </div>
            </div>

        </div>

    </div><!--/Content -->

</div><!--/Container-->

<script type="text/javascript">
    $(document).ready(function() {
        $('#print').click(function(){
            window.print();
        });

        $('#pdf').click(function(){
            alert('coming soon...');
        });

        $('#doc').click(function(){
            alert('coming soon...');
        });
    });
</script>