<!--controller-->
<div class="controller">
    <button id="print" class="btn btn-block">Print</button>
    <button id="pdf" class="btn btn-block">Export as PDF</button>
    <button id="doc" class="btn btn-block">Export as DOC</button>
</div><!--/controller-->

<div class="container">

    <!--Header-->
    <div id="resume-head" class="grd-black">

    </div><!--/Header-->

    <!--Content-->
    <div id="resume-content">

        <div>
            <h3 class="title-icon pull-left"><i class="icofont-book"></i></h3>
            <div class="title">
                <h3>{{title}}</h3>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <p>{{story.story_part_1}}</p>
                    <p>{{story.story_part_2}}</p>
                    <p>{{story.story_part_3}}</p>
                    <p>{{story.story_part_4}}</p>
                    <p>{{story.story_part_5}}</p>
                    <p>{{story.story_part_6}}</p>
                    <p>{{story.story_part_7}}</p>
                </div>
            </div>

        </div>

    </div><!--/Content -->

</div><!--/Container-->

<script type="text/javascript">
    $(document).ready(function() {
        $('#print').click(function(){
            window.print();
        });

        $('#pdf').click(function(){
            alert('coming soon...');
        });

        $('#doc').click(function(){
            alert('coming soon...');
        });
    });
</script>