<!-- section header -->
<header class="header" data-spy="affix" data-offset-top="0">
    <!--nav bar helper-->
    <div class="navbar-helper">
        <div class="row-fluid">
            <!--panel site-name-->
            <div class="span2">
                <div class="panel-sitename">
                    <h2><a href="/dashboard"><span class="color-teal">Story</span>&nbsp;Developer</a></h2>
                </div>
            </div>
            <!--/panel name-->
        </div>
    </div><!--/nav bar helper-->
</header>

<!-- section content -->
<section class="section">
    <div class="container">
        <div class="signin-form row-fluid">
            <!-- Temp Sign in -->
            <div class="span4 offset4">
                <div class="box corner-all">
                    <div class="box-header color-white bg-teal corner-top">
                        <span>Temp Sign in:</span>
                    </div>
                    <div class="box-body bg-white">
                        <form id="sign-in" method="post">
                            <div class="control-group">
                                <label class="control-label">Username</label>
                                <div class="controls">
                                    <input type="text" class="input-block-level" data-validate="{required: true, messages:{required:'Please enter field username'}}" name="temp_login_username" id="temp_login_username" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="submit" class="btn btn-block btn-large btn-primary" value="Sign in" ng-click='forwardToDashboard()'/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>

<script type="text/javascript">
    $(document).ready(function() {
        // uniform
        $('[data-form=uniform]').uniform();

        // validate
        $('#sign-in').validate();
    })
</script>